<div class="jumbotron jumbotron-fluid">
	<div class="container">
	<h1 class="display-3 hello">Welcome to Plateform</h1>
	<h2 class="lead">Plateform allows anyone to get a delicious meal for an affordable price, while enjoying from good company</h2>
	</div>
</div>

<div class="container">
	<div class="row">
	<div class="col-lg-3 card">
		<h3 class="center">Browse dinners in your city</h3>

		<p>You choose what you want to eat, we have options for every taste. Check it out!</p>

		<p><%= link_to "Browse dinners", dinners_path, class: "btn btn-primary" %></p>
	</div>

	<div class="col-lg-3 card">
		<h3 class="center">Show of your cooking habilities!</h3>

		<p>Share with others your skills while getting money back on your groceries.</p>

		<p><%= link_to "Sign Up", new_user_session_path, class: "btn btn-primary" %></p>
	</div>

	<div class="col-lg-3 card">
		<h3 class="center">Review and keep in touch with your favorite chefs </h3>

		<p>Loved a certain meal? Let them know and leave a review in their user profile!</p>

		<p><%= link_to "Featured Chefs", dinners_path, class: "btn btn-primary" %></p>
	</div>
	</div>

</div>