<br>
<h3 class="text-center">Check out all the options near you!</h3>
<br>
<div class="row">
	<div class="col-6">
				<%= render partial: "list" %>
	</div>
	
	<div class="col-6">
		<%= tag.div nil, id: 'map' %>
	</div>
</div>